@{
    ViewBag.Title = "خانه";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div class="row">
    <div class="main">

        <div class="view view-first" style="margin-right: 150px; width: 400px; height: 300px;">
            <a href="~/Home/OutPatient">
                <img src="~/Image/Button_img/Clinic.jpg" />
                <div class="mask">
                    <h2>درمانگاهها</h2> 
                    <p>درمانگاههای بیمارستان شهید صیاد شیرازی</p>                  
                </div>
            </a>
        </div>

        <div class="view view-first" style="margin-right: 50px; width: 400px; height: 300px;">
            <a href="~/Home/InPatient">
                <img src="~/Image/Button_img/Hospitalization.jpg" />
                <div class="mask">
                    <h2>بستریها</h2>
                    <p>بخشهای بستری بیمارستان شهید صیاد شیرازی</p>
                </div>
            </a>
        </div>

    </div>
</div>