@using EMR.Models
@using PagedList
@using PagedList.Mvc
@model IPagedList<EMR.Models.EMRWomanView>

@{
    ViewBag.Title = "زنان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
</div>

<h2>بیماران بخش زنان</h2>



<p>
    @Html.ActionLink("بازگشت به درمانگاهها", "Clinic", "Home", new { Area = "" }, new { @class = "btn btn-danger" })  
</p>

<div id="content">
    @Html.Partial("_Woman", Model)
</div>

<p>
    @Html.ActionLink("بازگشت به درمانگاهها", "Clinic", "Home", new { Area = "" }, new { @class = "btn btn-danger" })    
</p>
