@{
    ViewBag.Title = "بخش";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}    
    
    <div class="row">
        <div class="main">

            <div class="view view-first" style="margin-right: 180px; width: 300px; height: 200px;">
                <a href="~/Department/Cardiology/DHPatient?departmentId=25">
                    <img src="~/Image/Button_img/Heart_n.jpg" />
                    <div class="mask">
                        <h2>بیماران بستری بخش قلب</h2>
                        <p> لیست بیماران ، معاینات و ...</p>
                    </div>
                </a>
            </div>            

            @*<div class="view view-first" style="margin-right: 50px;">
        <a href="~/Department/Woman/DHPatient?departmentId=34">
            <img src="~/Image/Button_img/W1.jpg" />
            <div class="mask">
                <h2>بیماران بستری بخش زنان</h2>
                <p>لیست بیماران ، معاینات و ...</p>
            </div>
        </a>
    </div>*@

            @*<div class="view view-first" style="margin-right: 50px;">
        <a href="~/Department/Internal/DHPatient?departmentId=6">
            <img src="~/Image/Button_img/Internal_Button.jpg" />
            <div class="mask">
                <h2>بیماران بستری بخش داخلی</h2>
                <p>لیست بیماران ، معاینات و ...</p>
            </div>
        </a>
    </div>*@

        </div>
    </div>

    @*<hr />*@

    @*<div class="row">
        <div class="main">

            <div class="view view-first" style="margin-right: 180px;">
                <a href="~/Department/Lung/DHPatient?departmentId=23">
                    <img src="~/image/Button_img/Lung_Button.jpg" />
                    <div class="mask">
                        <h2>بیماران بستری بخش ریوی</h2>
                        <p>لیست بیماران ، معاینات و ...</p>
                    </div>
                </a>
            </div>

            <div class="view view-first" style="margin-right: 50px;">
                <a href="~/Department/Digestion/DHPatient?departmentId=27">
                    <img src="~/image/Button_img/Digestion_Button.jpg" />
                    <div class="mask">
                        <h2>بیماران بستری بخش گوارش</h2>
                        <p>لیست بیماران ، معاینات و ...</p>

                    </div>
                </a>
            </div>

            <div class="view view-first" style="margin-right: 50px;">
                <a href="#">
                    <img src="~/Image/Button_img/Internal_Button.jpg" />
                    <div class="mask">
                        <h2>بیماران بستری بخش  ...</h2>
                        <p>لیست بیماران ، معاینات و ...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>*@










