@model EMR.Models.HistoryDiseas

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">History of diseases</div>

    <table class="table table-bordered table-hover">
        <tr>
            <td style="width:20px">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Details", "Details", "HistoryDiseas", new { Area = "Department", id = Model.HistoryDiseaseId }, new { data_modal = "" })</li>
                        <li>@Html.ActionLink("Edit", "Edit", "HistoryDiseas", new { Area = "Department", id = Model.HistoryDiseaseId }, new { data_modal = "" })</li>
                    </ul>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.LeadTime) &nbsp;|&nbsp;  @Html.DisplayFor(modelItem => modelItem.Description)
            </td>
        </tr>
    </table>
    <div class="panel-footer"> </div>
</div>
