@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <li>
            @Html.ActionLink("درود " + User.Identity.GetUserName() + " !", "Manage", "Account", routeValues: new { Area = "" }, htmlAttributes: new { title = "تغییر رمز عبور", style = "color:#fad506;" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color: #fad506;">خروج از سامانه</a></li>
    }
}
else
{
    <li>@Html.ActionLink("ثبت کاربر", "Register", "Account", routeValues: new { Area="" }, htmlAttributes: new { id = "registerLink", style = "color:#fad506;" })</li>
    <li>@Html.ActionLink("ورود به سامانه", "Login", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "loginLink", style = "color:#fad506;" })</li>
}

